body {
    background-image: url(../imagem/fundo1.jpg);
    margin: 0;
    padding: 0;
}

header {
    background-image: url(../imagem/fundo1.jpg);
    height: 60%;
    max-width: 40%;
    float: left;
    text-align: justify;
    width: 100%;
    background-color: #303232;
    box-shadow: rgba(14, 82, 12, 0.55);
    box-shadow: 10px 15px 10px 10px rgba(0, 0, 0, 0.2), 10px 6px 20px 10px rgba(0, 0, 0, 0.626);
}

h1 {
    text-align: center;
    font-size: 30px;
    font-family: 'Cookie', cursiva;
    line-height: 0px;
    color: rgb(255, 255, 255);

}

ul {

    list-style-type: none;
    max-width: 58%;
    height: 30px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(39, 39, 39, 0.952);
    width: 60%;
    margin-left: auto;
    box-shadow: 0 15px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.626);
    position: sticky;
    position: -webkit-sticky;
    top: 0;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    padding: 10px 9px;
    text-decoration: none;
    font-size: 10px;
}

li a:hover:not(.active) {
    background-color: #000000;

}

.active {
    background-color: #000000;

}

#img_principal {
    margin-top: 10%;
    margin-left: 5%;
    width: 210px;
    height: auto;
    border-radius: 0 120PX;
    box-shadow: rgba(14, 82, 12, 0.55);
    box-shadow: 0 15px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 10px rgba(0, 0, 0, 0.626);

}

#cadastro {
    
    background-image:url( ../imagem/fundo1.jpg);
    padding: 15px;
    max-width: 150px;
    color: #ffffff;
    box-sizing: border-box;
    float: right;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 10px;
    box-shadow: rgba(4, 9, 4, 0.55);
    box-shadow: 3px 7px 7px 7px rgb(0, 0, 0), 7px 10px 7px 0px rgb(0, 0, 0);

}

.mb {
    font-size: 10px;
    padding: 5px;
    line-height: 12px;
    background-color: #131413ad;
}

input,
select {
    width: 95%;
    box-sizing: border-box;
    padding: 5px;
    border: none;
    margin-bottom: 8px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 10px;
    
}

input[type="submit"] {

    color: rgb(255, 255, 255);
    background-color: rgba(65, 65, 65, 0.886);
    font-weight: bold;

}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: black;
    color: white;

}

#portfolio {
    margin-top: 18%;
    margin-bottom: 6%;
    text-align: center;
    font-size: 40px;
    font-family: 'Cookie', cursiva;
    line-height: 0px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px;
}


#img1 {
    text-align: center;

}

#img2 {
    text-align: center;

}

#img3 {
    text-align: center;

}

.img {
    margin-right: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
    height: 140px;
    box-shadow: 5px 10px 5px 5px rgb(0, 0, 0), 10px 15px 10px 0px rgb(0, 0, 0);
    box-sizing: border-box;
}

.img_radius {
    border-radius: 0 0 0 50px;
    height: 170px;
}

.img_radius_2 {
    border-radius: 0 0 50px 0;
    height: 170px;

}

.paragrafos {
    font-size: 20px;
    margin-top: 30px;

}

table {
    margin: auto;
    width: 90%;
    border-spacing: 10px;
    background-color: #303232b1;
    box-shadow: rgba(4, 9, 4, 0.55);
    box-shadow: 0 15px 10px 10px rgba(0, 0, 0, 0.2), 15px 6px 40px 0px rgba(0, 0, 0, 0.626);
    margin-bottom: 10px;

}

caption {
    text-align: center;
    font-size: 40px;
    font-family: 'Cookie', cursiva;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px;

}

th,
td {
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;

}

#conteinerwhats {
    float: right;
    position: sticky;
    bottom: 10px;
    background-color: #000000db;
    font-size: 15px;
    color: #ffffff;
    border-radius: 10px;
    box-shadow: rgba(4, 9, 4, 0.55);
    box-shadow: 0 15px 10px 10px rgba(0, 0, 0, 0.2), 15px 6px 40px 0px rgba(0, 0, 0, 0.626);

}

.whats {
    margin-left: 50px;
}

.whats1 {
    padding: 10px;
}


footer {
    height: 200px;
    background-color: rgba(32, 35, 37, 0.909);
    margin-top: 90px;
    max-width: 100%;
    display:flex;
    box-sizing: border-box;
    color: #ffffff;
    

}

h3{
   text-align: center;
    padding: 0;
    margin: 0;
}

#sobre{
text-align: center;
margin: 0;
padding: 10px;

}

#imgfooter{
    width: 110px;
    float: left;

}

.insta{
    float: right;
    margin-right: 10px;
    box-sizing: border-box;
    margin-top: 50px;

}


